@inject HttpClient Http
@page "/"
@using System.Net
@using Serilog

<PageTitle>Weather☔</PageTitle>

<h1>What about today's weather? 🔆☔☁</h1>

<br/>

<div class="text-center">
    <input type="text" @bind="@InputText" placeholder="City Name" required id="cityName"/>
    <button style="background-color: #31b0d5; border-color: #31b0d5" class="" id="search" @onclick="@CallApi">Search</button>
    <h3 style="padding:55px">Weather in the requested city:</h3>
    <div>
        <textarea id="result"  rows="10" cols="80">@OutputText</textarea>
    </div>
</div>

@code{
    public string? InputText;
    public string? OutputText;

    async Task CallApi()
    {
        var response = await Http.GetAsync($"api/Weather/{InputText}");
        var resultContent = await response.Content.ReadAsStringAsync();

        Log.Information(resultContent);

        if (response.StatusCode != HttpStatusCode.OK) return;
        
        OutputText = resultContent;
        StateHasChanged();
    }
}